apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-repo
  namespace: observability
spec:
  interval: 10m0s
  url: https://prometheus-community.github.io/helm-charts
